<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="DEBUG" dest="/tmp/log4j.txt">
	<Properties>

		<!-- Logfile location 
		    env XLOGFILE 
		    env HOME/xmlsh.log 
		    sys user.home/xmlsh.log 
			sys user.dir/xmlsh.log 
			./xmlsh.log 
			-->
		<Property name="user.dir">.</Property>
		<Property name="user.home">${sys:user.dir}</Property>
		<Property name="HOME">${sys:user.home}</Property>
		<Property name="home">${env:HOME}</Property>
		<Property name="XLOGFILE">${env:HOME}/xmlsh.log</Property>
		<Property name="logfile">${env:XLOGFILE}</Property>
		
		
		
		<property name="tracelog">${env:XTRACE}</property>
	</Properties>


	<Appenders>
		<File name="A1" fileName="${logfile}" append="false" >
			<PatternLayout pattern="%d %-5p [%t] %c{5} %M - %m (%X{tshell) %X{module}) | %F %L%n" />
		</File>
		<Console name="CONSOLE" target="SYSTEM_ERR">
			<PatternLayout pattern="%m MDC%X%n" />
		</Console>
		<Shell name="SHELL" >
		
		</Shell>
	</Appenders>
	<Loggers>
	  
		<logger name="org.xmlsh" level="INFO">
			<AppenderRef ref="A1"  />
		</logger>
		<logger name="org.xmlsh.core" level="INFO" additivity="false">
			<AppenderRef ref="A1"  />
		</logger>
		
		<logger name="httpclient" level="WARN" />
		<logger name="http.wire" level="WARN" />
		<logger name="org.apache.http" level="WARN" />
		<logger name="com.amazonaws" level="WARN" />
		<logger name="org.apache.http.impl.conn" level="WARN" />
		<logger name="com.amazonaws.auth.profile" level="ERROR" />
		<logger name="org.xmlsh.sh.grammar" level="WARN" additivity="false">
		   <AppenderRef ref="A1" />
		</logger>
		<logger name="${tracelog}" level="TRACE" >
		   <appenderRef ref="A1"/>
		</logger>
		
		 <Root level="ERROR">
            <AppenderRef ref="CONSOLE" level="ERROR"/>
		 	  <!-- 
		   <AppenderRef ref="SHELL" level="trace"/>
	       <AppenderRef ref="CONSOLE" level="WARN"/>
	        -->
		   <AppenderRef ref="A1" level="WARN"/>

		</Root>
	</Loggers>
	
</Configuration>
