/* Sep 7, 2012: v1 */

body {
    font-family: Verdana, Helvetica, Arial, sans-serif;
    font-size: 10pt
}

/* -- LINK -- */
a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/* -- CUSTOM -- */

.wmi {
    font-family: Verdana, Helvetica, Arial, sans-serif;
    font-size: 10pt;
    font-weight: bold;
    color: gray;
}

.lastupd {
    padding-top: 15pt;
    font-family: "Courier New", Courier, monospace;
    font-size: 80%;
}

.page_header {
    width: 100%;
    background-color: #646464;
    color: white;
    font-size: 14pt;
    text-align: center;
    padding-top: 1pt;
    padding-bottom: 1pt;
}

.paragraph_header1 {
    font-size: 11pt;
    font-weight: bold;
}

.paragraph_header2 {
    border-left: 1px dotted #636363;
    border-top: 1px dotted #636363;
    font-size: 10pt;
    font-weight: bold;
    color: #2f2f2f;
    padding: 3px;
}

.highlight {
    background: yellow;
}

.center_text {
    text-align:center
}

/* ------- USER GUIDE ---------------*/

.file_name {
    font-family: "Courier New", Courier, monospace;
    font-size: 10pt;
}

.output {
    font-family: "Courier New", Courier, monospace;
    font-size: 10pt;
    color: black;
    background: #e8e4e7;
    padding: 3pt 10pt;
    /*text-align: center;*/
}

.gui_item {
    font-family: "Courier New", Courier, monospace;
    font-size: 10pt;
    color: yellow;
}

.gui_button {
    font-family: "Courier New", Courier, monospace;
    font-size: 10pt;
    color: #fafad2;
}

/*----- MAIN DIVs ----------*/
#page {
    background: white;
    width: 950px;
    margin-left: auto;
    margin-right: auto;
}

#menu {
    float: left;
    background: #f5f5f5;
    width: 210px;
}

#content {
    float: left;
    padding-left: 10pt;
    background: white;
    width: 690px;
}
